* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header{
    background-image: url("coding.jpg");
}

body {
    
    font: 20px/40px arial, sans-serif;
    background-color:darkgrey;
    color:darkcyan;
}

.container{
    width: 800px;
    margin: auto;
}